<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "Signup to add recipes", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>
<div style="text-align: left;">
   <span class="custom"> Are you a chef and want the world to know you? Share your recipes here and let everyone know the magic you add in your recipes. </span>

   </div>
   &nbsp
   &nbsp

   <div class="row">
    

      <div class="col-lg-5">
    <h2>Our Mission</h2>
    <p>Our main aim is to inspire people to cook. Here you will find Indian recipes to international, day to day cooking to party special recipes.You will also find posts for beginners with step by step pictures and cooking instructions.</p>
   
 </div>

     <div class="col-lg-5">
    <h2>Why MyRecipes?</h2>
    <p>Running out of thoughts on what to prepare for a special occasion or for a simple lunch or dinner? We got you covered. Browse through our app to find some amazing recipes ranging from simple ones for an absolute beginner to five star recipes for a pro chef  </p>
    
  </div>
    
    <div class="col-lg-2">
    <h3>Quick Links</h3>
    <ul class="quicklinks">
      <li><%=link_to "All Recipes" , recipes_path %></li>
      <li><%=link_to "Chefs Listing" , chefs_path%></li>
      <li><%=link_to "All Ingredients" , ingredients_path%></li>
      <li><%=link_to "Login" , login_path%></li>
      <li><%=link_to "Signup" , signup_path%></li>
      
    </ul>
    
  
 
</div>